<div class="mat-elevation-z8 data-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="razon_social">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Razon Social</th>
      <td mat-cell *matCellDef="let row">{{row.razon_social}}</td>
    </ng-container>

    <ng-container matColumnDef="cuit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CUIT</th>
      <td mat-cell *matCellDef="let row">{{row.cuit}}</td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
      <td mat-cell *matCellDef="let row">{{row.telefono}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 25]">
  </mat-paginator>
</div>
